<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/domutiloadfiledate" enctype="multipart/form-data">

    <p>
        <label for="f1">文件1</label>
        <input name="file" type="file" id="f1">
    </p>

    <p>
        <label for="f2">文件2</label>
        <input name="file" type="file" id="f2">
    </p>

    <p>
        <label for="f3">文件3</label>
        <input name="file" type="file" id="f3">
    </p>

    <p>
        <button type="submit">submit</button>
    </p>


</form>

</body>
</html>